<div class="row">
  <div class="span6 offset2">
    <div class="boxes height3">
      <%= form_for @profile, :html => {:multipart => true,
                                       :class => "form-horizontal"} do |f| %>
        <% if @profile.errors.any? %>
          <div class="alert alert-error">
          <% @profile.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
          </div>
        <% end %>

        <fieldset class="span6">
          <legend>Basic Information</legend>
          <div class="control-group">
            <%= f.label :name %>
            <div class="controls"><%= f.text_field :name %></div>
          </div>
          <div class="control-group">
            <%= f.label "Organization" %>
            <div class="controls"><%= f.text_field :entity %></div>
          </div>
          <div class="control-group">
            <%= f.label :profession %>
            <div class="controls"><%= f.text_field :profession %></div>
          </div>
          <div class="form-actions">
            <%= f.submit :class => "btn-success" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
